@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg1: rgb(25, 22, 27);
  --color-bg2: rgb(2, 3, 9);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size1: 80%;
  --circle-size2: 30%;
  --blending: hard-light;
  --shine-transition: all 0.5s ease-in-out;
  --shine-effect: linear-gradient(
          120deg,
          transparent,
          rgba(255, 255, 255, 0.2),
          transparent
  );
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  50% {
    transform: translateX(50%) translateY(50%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}
.gradient-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(50deg, var(--color-bg1) 0%, var(--color-bg2));
  top: 0;
  left: 0;
}

svg {
  display: none;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(229, 219, 255, 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size1);
  height: var(--circle-size1);
  top: calc(50% - var(--circle-size1) / 2);
  left: calc(50% - var(--circle-size1) / 2);
  opacity: 1;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
}
.g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgb(73 73 73 / 80%) 0, rgba(var(--color2), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size1);
  height: var(--circle-size1);
  top: calc(50% - var(--circle-size1) / 2);
  left: calc(50% - var(--circle-size1) / 2);
  opacity: 1;
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}
.g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size2);
  height: var(--circle-size2);
  top: calc(50% - var(--circle-size2) / 2 + 200px);
  left: calc(50% - var(--circle-size2) / 2 - 500px);
  opacity: 1;
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
}
.g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size2);
  height: var(--circle-size2);
  top: calc(50% - var(--circle-size2) / 2);
  left: calc(50% - var(--circle-size2) / 2);
  opacity: 1;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
}
.g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size1);
  height: var(--circle-size1);
  top: calc(50% - var(--circle-size1));
  left: calc(50% - var(--circle-size1));
  opacity: 1;
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
}

.interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fbfbfb;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .btn-hover {
      position: relative;
      overflow: hidden; // debug

    // last element should not have margin
    &:not(:last-child) {
      margin-bottom: 3rem;
    }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: var(--shine-effect);
      }

    &::before {
      left: -100%;
      transition: var(--shine-transition);
    }
    &:hover {
      &::before {
        left: 100%;
      }
    }
  }
  .text-stroke {
    text-shadow:
            -0.2px -0.2px 0 #272727,
            0.2px -0.2px 0 #272727,
            -0.2px 0.2px 0 #272727,
            0.2px 0.2px 0 #272727;
    color: white;
  }
}

.sphere-lg {
  background-image: linear-gradient(to bottom, #a6c0fe 0%, #f68084 100%);
}
.sphere-sm {
  background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);
}
.sphere-md {
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.icon-github {
  display: block;
  width: 20px;
  height: 20px;
  background-size: cover; /* 이미지 크기를 요소 크기에 맞게 조절 */
  background-image: url("/github-brands.svg");
}
